body {
  font-family: 'Roboto', sans-serif;
  background-color: #5dc1b9;
  margin: 0;
  padding: 0;
  color: #343a40;
  line-height: 1.6;
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
  margin-left: 45%;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  padding: 10px;
  width: 70%;
  border: 2px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #007bff;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: 2px solid #007bff;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

#resultado {
  text-align: center;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

#resultado p {
  font-size: 1.2rem;
  margin: 10px 0;
}

#resultado span {
  font-weight: bold;
  color: #007bff;
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
  }

  input[type="text"] {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  input[type="submit"] {
    width: 100%;
    border-radius: 0 0 5px 5px;
  }
}

select {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

option {
  padding: 5px;
}

